:root {
  // colors
  --blue: #2eafe6d0;
  --red: #e40404;
  --green: #79f266;
  --lightgrey: #eaecee;
  --black: #1c1b1b;

  // layout
  --max-width: 860px;
  --gutter: 2rem 4rem;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
